version: "3.8"
services:
  app:
    build: .
    image: campusbuddy:latest
    container_name: campusbuddy
    ports:
      - "3000:3000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/campusbuddy
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    container_name: campusbuddy-mongo
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"

volumes:
  mongo-data:
